<!DOCTYPE html>
<html>

     <head>

          <meta charset="utf-8">
          <title>Sign Up</title>

     </head>

     <body>

               <form id="form" class="" action="/result" method="post">

                    <label for="name">Your Name:</label>

                    <input type="text" name="name" value="">

                    <label for="dojo">Dojo Location</label>

                    <select class="" name="dojo" form='form'>
                         <option value="Dallas">Dallas</option>
                         <option value="Seattle">Seattle</option>
                         <option value="Silicon Valley">Silicon Valley</option>
                         <option value="L.A.">L.A.</option>
                         <option value="Washington DC">Washington DC</option>
                         <option value="Chicago">Chicago</option>
                         <option value="Berkeley">Berkeley</option>
                         <option value="Orange County">Orange County</option>
                    </select>

                    <label for="language">Favorite Language:</label>

                    <select class="" name="language" form='form'>
                         <option value="Python">Python</option>
                         <option value="JavaScript">JavaScript</option>
                         <option value="Ruby">Ruby</option>
                         <option value="C++">C++</option>
                         <option value="Perl">Perl</option>
                    </select>

                    <label for="comment">Comment (optional):</label>

                    <textarea name="comment" rows="8" cols="80">Type here</textarea>

                    <button type="submit" name="button">Submit</button>

               </form>

     </body>

</html>
